/* ----------------------------------------------------- */
/* -------------------- GENERAL CSS -------------------- */
/* ----------------------------------------------------- */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    background-color: #DACFCE;
}


/* ----- HEADER ----- */

header {
    display: flex;
    flex-direction: column;
}

/* ----- LOGO (IMG/TEXT) ----- */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(116, 51, 51);
}

header img{
    
}

header p {
    text-align: center;
    font-size: 3rem;

    color: rgb(228, 158, 158);
}

/* ----- NAV ----- */
nav {
    background-color: rgb(112, 180, 116);
}

.nav-links {
    display: flex;
    justify-content: space-between;  
    margin: 0 0;
    padding: 0 0;
}

.nav-links li {
    list-style: none;
    flex: 1;
    /* text-align: center; */
    height: 50px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    transition: .5s;
    color: white;
    font-weight: 1.5;
    font-size: 1.5rem;
    cursor: pointer;


}

.nav-links li:hover {
    background-color: rgb(58, 153, 74);
    transition: .5s;
    
}

.tab.active {
    border-bottom: 5px solid rgb(45, 110, 55);

} 

/* --------------------------------------------------- */
/* -------------------- HOME PAGE -------------------- */
/* --------------------------------------------------- */
#home {
    background-color: #DACFCE;
}
/* ----- ANOUNCEMENTS/GENERAL INFO CONTAINER */

.anouncements-general-info-container {
    display: flex;
    margin: 5px;
}

/* ----- GENERAL INFO ----- */
.general-info-box {
    background-color: #fff5f5;
    flex: 1;
    margin: 6px;
    border-radius:10px;
    order: 1;
}

.general-info-box h1 {
    text-align: center;
}

.general-info-box p {
    height: 50vh;
    overflow-y: scroll;
    font-size: 1.3rem;
}

/* ----- SIGN UP/PRESENTATION BTNS -----*/
.signup-presentation-btns {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.signup-presentation-btns li {
    list-style: none;
    background-color: rgb(58, 153, 74);
    font-size: 1.5rem;
    transition: .5s;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;

}

.signup-presentation-btns li a {
    display: block;
    color: rgb(116, 51, 51);
    font-weight: bold;
    /* padding: 10px 20px; */
    width: 200px;
    height: 50px;
    
}

.signup-presentation-btns li:hover {
    background-color: rgb(55, 139, 67);
    transition: .5s;
}

/* ----- ANOUNCEMENTS ----- */
.announcements  {
    margin: 6px;
    flex: 1;
    background-color: #fff5f5;
    border-radius:10px;
    order: 2;
}

.announcements  h1 {
    text-align: center;
}

.announcements  ul{
    height: 500px;
    overflow-y: scroll;
}

.announcements ul li {
    font-size: 1.5rem;
}
/* ----- TWITTER FEED/CALENDAR CONTAINER ----- */
.calendar-container {
    display: flex; 
    flex-wrap: wrap;
}
/* ----- GROUP 1 ----- */
.group1 {
    display: flex;
    flex: 1.5;
}
/* ----- TWITTER FEED ----- */
.twitter-feed-box {
    background-color: rgb(63, 145, 75);
    flex: 1;
    height: 400px;
    margin: 6px;
    border-radius:10px;
}

.twitter-feed-box h1 {
    text-align: center;
}

/* ----- UPCOMING EVENTS ----- */
.upcoming-events {
    background-color: #fff5f5;
    flex: 2;
    margin: 6px;
    border-radius:10px;
}

.upcoming-events h1 {
    text-align: center;
}


.upcoming-events ul {
    height: 60vh;
    overflow-y: scroll;
}

.upcoming-events ul li {
    font-size: 1.6rem;
}

/* ----- CALENDAR ----- */
.calendar {
    flex: 1;
    height: 70vh;
    margin: 10px;
}

.calendar iframe {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------ */
/* -------------------- SCROLL BAR STYLING -------------------- */
/* ------------------------------------------------------------ */

/* ----- SCROLL BAR FOR ANOUNCEMENTS ----- */
.announcements ul::-webkit-scrollbar {
    width: 20px;
  }
  
  .announcements ul::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .announcements ul::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  .announcements ul::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

/* ----- SCROLL BAR FOR GENERAL INFO ----- */
.general-info-box p::-webkit-scrollbar {
    width: 20px;
}

.general-info-box p::-webkit-scrollbar-track {
  background-color: transparent;
}

.general-info-box p::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.general-info-box p::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* ----- SCROLL BAR FOR UPCOMING EVENTS ----- */
.upcoming-events ul::-webkit-scrollbar {
    width: 20px;
}
  
.upcoming-events ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.upcoming-events ul::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.upcoming-events ul::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* ----- SCROLL BAR FOR html ----- */
html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(219, 186, 186);
}

html::-webkit-scrollbar-thumb {
  background-color: #7c5d5d;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #683a3a;
}

/* ------------------------------------------------------ */
/* -------------------- SIGN UP PAGE -------------------- */
/* ------------------------------------------------------ */
#sign-up {
    background-color: #DACFCE;
}

#sign-up h1{
    text-align: center;
    padding: 0 0 5px 0;
    border-bottom: 1px solid black;
}

.sign-up {
    display: flex;
    
}

/* ------------------------------------------------------- */
/* -------------------- CONTACTS PAGE -------------------- */
/* ------------------------------------------------------- */
#contacts {
    background-color: #DACFCE;
    font-size: 2rem;
}
#contacts h1 {
    text-align: center;
}

.contacts-table {
    border-collapse: collapse;
}

.contacts-table td{
    padding: 10px;
    border: 1px solid black;
}

/* -------------------------------------------------------------- */
/* -------------------- SMALL SCREEN LAYOUTS -------------------- */
/* -------------------------------------------------------------- */


/* ----- SCREEN WIDTH < 1000px ----- */

@media screen and (max-width: 1000px){
    .anouncements-general-info-container {
        display: flex;
        flex-direction: column;
    }
    
    .calendar-container {
        display: flex;
        flex-direction: column;
    }
    
    .calendar {
        order: 2;
    }
    .calendar iframe{
        height: 60vh;
    }

    .upcoming-events {
        order: 1;
    }

    .twitter-feed-box {
        order: 3;
    }

    .calendar-container {
        flex-direction: column;
    }

    .upcoming-events {
        flex: 1;
        order: 2;
    }

    .twitter-feed-box {
        order: 1;
    }

    .contacts-table {
        display: none;
    }
}

/* ----- SCREEN WIDTH < 700px */
@media screen and (max-width: 700px) {
    .group1 {
        flex-direction: column;
    }
}
